

$yellow-color: #ffb700
$dark-yellow-color: #ff9900
$light-gray-color: #f5f1eed5
$gray-color: #625950
$brown-color: #5b4634
$vertical-color: #aaa5a4cb
$black-color: black 
$white-color: white 
$basket-color: #05a09A
$mobile: 600px
$tablet: 1000px
$large-tablet: 1100px

@mixin mobile
    @media screen and ( max-width: $mobile)
        @content

@mixin tablet 
    @media screen and ( max-width: $tablet)
        @content

@mixin large-tablet
    @media screen and (max-width: $large-tablet)
        @content   


body
    hr
        border: 1px dashed


header
    position: fixed
    width: 100%
    background-color: $gray-color
    .header-1
        width: 100%
        background-color: $yellow-color
        display: flex
        align-items: center
        justify-content: space-between
        box-shadow: 0 0 15px $black-color
        padding:25px 5%

    .label
        a
            text-decoration: none
        h1
            color: $black-color
        span
            color: $white-color
    
    .option
        button
            align-items: center
            background-color: inherit 
            color: $black-color
            border-left: none
            border-top: none
            border-bottom: none
            padding-right: 25px  

        .dropdown-menu
            background-color: $white-color
            width: 300px
            height: fit-content
            padding: 0
            border-radius: 0
        .upper-form
            padding: 25px 15px 10px 15px
            input 
                border-radius: 0
                border-width: 1px
                outline: none
                width: 100%
                height: 4vh
            
            .navigation
                display: flex
                justify-content: space-between
                align-items: center
                
                .btn
                    background-color: $yellow-color
                    color: $white-color
                    border-radius: 0

            .login-via-fb-icon
                display: flex
                justify-content: center

        .lower-form
            padding: 0 15px
            background: $light-gray-color
            span 
                color: $yellow-color 
            p 
                padding-left: 10px
            .register-link
                text-align: end
                padding-bottom: 15px
                a
                    text-decoration: none
                    color: $yellow-color
                img
                    transform: rotate(-0.25turn)
            




    .header-2
        margin-top: 3px
        background-color: $gray-color
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 5%
        @include tablet
            display: block
            padding: 0
        @include mobile
            display: block
            padding:0
        .search-group
            padding: 15px 0
            width: 80%
            display: flex
            @include tablet
                width: 100%
                display: flex
                padding: 15px 5%
            @include mobile
                width: 100%
                display: block
                padding: 0 0
            .search-bar-container
                display: flex
                width: 60% 
                padding-right: 15px
                @include tablet
                    width: 60%
                @include mobile
                    width: 100%
                    padding: 15px 5%
                .search-bar
                    background-color: $white-color
                    display: flex
                    align-items: center
                    padding:0 10px
                    width: 100%
                    
                    input
                        border-radius: 0
                        border-left: none
                        border-top: none
                        border-bottom: none
                        outline: none
                        width: 100%

                    .btn
                        background-color: $white-color
                        display: flex
                        align-items: center
                        justify-content: space-between
                    img 
                        padding-left: 10px
                img
                    padding-left: 3px
                    &:hover
                        cursor: pointer
                    
                    
            .category-dropdown
                width: 40%
                background-color: $brown-color
                @include tablet
                    width: 40%
                @include mobile
                    width: 100%
                .btn
                    width: 100%
                    color: $white-color
                    display: flex
                    align-items: center
                    justify-content: space-between
                    border: none
                    border-radius: 0
                    
                    &:hover
                        border: none

            
        .basket-dropdown
            background-color: $basket-color
            width: 30%
            margin-left: 15px 
            @include tablet
                width: 100%
                margin: 0
            @include mobile
                width: 100%  
                margin: 0
            .btn
                @include tablet
                    height: auto
                @include mobile
                    height: auto
                height: 70px
                width: 100%
                color: $white-color
                display: flex
                align-items: center
                justify-content: space-between
                border: none
                border-radius: 0
                
                &:hover
                    border: none

    



.shelf-container
    padding: 0 5%
    padding-top: 20vh
.shelf-header
    padding-top: 25px
    display: flex
    justify-content: space-between
.shelf-label
    color: $dark-yellow-color
.page-changer
    a
        text-decoration: none
        padding: 0 10px
    .vertical-right
        border-right: 1px solid gray
        color: gray         
    .vertical-left
        border-left: 1px solid gray
        color: $dark-yellow-color
    
.shelf-footer
    text-align: end
    margin: 50px 0

.book-shelf
    display: flex
    flex-wrap: wrap
    width: 100%
    .book-card
        margin-top: 5% 
        padding-left: 5%
        padding-right: 3%
        width: 25%
        border-left: 1px dashed $vertical-color
        img
            width: 50%
            height: auto

    
    .book-card-header
        margin-top: 20px
        .book-title
            color: $dark-yellow-color
        a
            color: $basket-color
    
    .book-card-footer
        display: flex
        justify-content: space-between
        align-items: center
        padding-right: 15%
        .book-price
            color: $dark-yellow-color
        .btn
            display: flex
            align-items: center
            justify-content: space-between
            border-radius: 0
            background-color: $yellow-color
            color: $white-color


    
    
    
footer
    .footer-1
        background-color: $gray-color
        display: flex
        align-items: center
        justify-content: space-between
        padding:25px 5%
        color: $white-color
      
        .footer-social-icon
            font-size: 40px
            @include mobile
                font-size: 28px
            a
                text-decoration: none
                color: $white-color

    .footer-2
        display: flex
        align-items: center 
        padding: 0 5%
        padding-top: 10px
        background-color: $brown-color
        color: $white-color
        font-size: 12px
        @include mobile
            font-size: 9px
        